.loader {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-top-color: blue;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}